/* GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 120rem;
    margin: auto;
    font-size: 1.6rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    border-right: 0.1rem solid #CFCFCF;
    border-left: 0.1rem solid #CFCFCF;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
}

h3 {
    margin-bottom: 1rem;
}

h6 {
    font-size: 1.6rem;
    font-weight: normal;
}

img{
    border-radius : 50%;
    border:4px solid #DAAF12;
    width: 60%;
    margin: auto;
}

address {
    font-style: normal;
}

/* PARTIE SECONDAIRE (en jaune) */

#image {
    height: 30rem;
    display: flex;
}

#secondaryPart {
    flex-basis: 33.33%;
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
}

#secondaryPart h2 {
    color: #FECA07;
    background-color: #404040;
    text-align: center;
    padding: 0.7rem 0;
}

#secondaryPart p {
    padding: 4rem;
    text-align: justify;
}

#contact {
    padding: 4rem 1rem 4rem 4rem;
}

#contact div {
    margin-bottom: 1.5rem;
}

#recreation {
    margin-top: auto;
}

#recreation div {
    text-align: center;
    padding: 4rem 0;
}

#recreation div i {
    font-size: 3.2rem;
    padding: 0 2rem;
}

/* PARTIE INFORMATIONS SUR LE PARCOURS */

.flexContainer {
    display: flex;
    margin-bottom: 4rem;
}

#title {
    margin-bottom: 8.5rem;
}

#title div {
    font-weight: bold;
    font-size: 2rem;
}

#title div span {
    border-bottom: 0.2rem solid #FED22B;
}

.partFormation, .partExperiencePro, .partRecommendation {
    margin-bottom: 5rem;
}

.partFormation>div:nth-child(1),
.partExperiencePro>div:nth-child(1),
.partRecommendation>div:nth-child(1) {
    border-bottom: 0.2rem solid #FED22B;
    padding-bottom: 1rem;
}

#primaryPart {
    flex-basis: 66.66%;
    margin: 8rem 5rem 0 5.5rem;
}

#primaryPart h6 {
    margin-bottom: 1rem;
} 

#firstName {
    color: #FECA07;   
}

#name {
    font-weight: lighter;
}

.dateAndCity {
    flex-basis: 33.33%;
}

.dateAndCity div {
    display: inline-block;
}

.dateAndCity i {
    color: #FECA07;
    font-size: 1rem;
    margin-right: 1rem;
    vertical-align: top;
    padding-top: 0.6rem;
}

.description {
    flex-basis: 66.66%;
}

.recommendation {
    flex-grow: 1;
}

.iconsH2 {
    color: #FECA07 ;
    padding-right: 2.5rem;
    font-size: 3rem;
}


/* ECRANS INFERIEURS A 1200 PX */

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
}

/* ECRANS INFERIEURS A 1090 PX */

@media screen and (max-width: 1090px) {
    .partFormation .flexContainer,
    .partExperiencePro .flexContainer {
        flex-direction: column;
    }

    .partFormation>.flexContainer:nth-child(1),
    .partExperiencePro>.flexContainer:nth-child(1),
    .partRecommendation>.flexContainer {
        flex-direction: row;
    }

    .dateAndCity {
        margin-bottom: 1rem;
    }

    .description {
        margin-left: 1.8rem;
    }
}

/* ECRANS INFERIEURS A 900 PX */

@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
    }

    img {
        width: 40%;
        margin: 5% auto;
    }

    #image {
        height: auto ;
    }
}