/* GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 100rem;
    margin: auto;
    font-size: 1.6rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    border-right: 0.1rem solid #CFCFCF;
    border-left: 0.1rem solid #CFCFCF;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h6 {
    font-size: 1.6rem;
    font-weight: normal;
}

#secondaryPart {
    flex-basis: 33.33%;
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
}

#mainSection {
    flex-basis: 66.66%;
}

.flexContainer {
    display: flex;
}

/* PARTIE SECONDAIRE (en jaune) */

#image {
    height: 30rem;
    display: flex;
}

img{
    border-radius : 50%;
    border:4px solid #DAAF12;
    width: 60%;
    margin: auto;
  }

#secondaryPart h2 {
    color: #FECA07;
    background-color: #404040;
    text-align: center;
    padding: 0.7rem 0;
}

#contact {
    padding: 4rem 1rem 4rem 4rem;
}

#contact div {
    margin-bottom: 1.5rem;
}

#secondaryPart p {
    padding: 4rem;
    text-align: justify;
}

#loisirs {
    margin-top: auto;
}

#loisirs div {
    text-align: center;
    padding: 2rem 0;
}

#loisirs div i {
    font-size: 3.2rem;
    padding: 0 1rem;
}

/* PARTIE INFORMATIONS SUR LE PARCOURS */

#mainSection h2 {
    display: inline;
}

#mainSection {
    margin: 8rem 5rem 6rem 5.5rem;
}

#prenom {
    color: #FECA07;   
}

#nom {
    font-weight: lighter;
}