/* GENERAL */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    width: 120rem;
    margin: auto;
    font-size: 1.6rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    border-right: 0.1rem solid #CFCFCF;
    border-left: 0.1rem solid #CFCFCF;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    margin-bottom: 1.5rem;
}

h6 {
    font-size: 1.6rem;
    font-weight: normal;
}

#secondaryPart {
    flex-basis: 33.33%;
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
}

#primaryPart {
    flex-basis: 66.66%;
}

.flexContainer {
    display: flex;
    margin-bottom: 4rem;
}

address {
    font-style: normal;
}

.iconsH2 {
    padding-right: 2.5rem;
    font-size: 3rem;
}

/* PARTIE SECONDAIRE (en jaune) */

#image {
    height: 30rem;
    display: flex;
}

img{
    border-radius : 50%;
    border:4px solid #DAAF12;
    width: 60%;
    margin: auto;
  }

#secondaryPart h2 {
    color: #FECA07;
    background-color: #404040;
    text-align: center;
    padding: 0.7rem 0;
}

#contact {
    padding: 4rem 1rem 4rem 4rem;
}

#contact div {
    margin-bottom: 1.5rem;
}

#secondaryPart p {
    padding: 4rem;
    text-align: justify;
}

#recreation {
    margin-top: auto;
}

#recreation div {
    text-align: center;
    padding: 2rem 0;
}

#recreation div i {
    font-size: 3.2rem;
    padding: 0 1rem;
}

/* PARTIE INFORMATIONS SUR LE PARCOURS */

#title {
    margin-bottom: 8.5rem;
}

#title div {
    font-weight: bold;
}

.part {
    margin-bottom: 5rem;
}

.part>div:nth-child(1) {
    border-bottom: 0.2rem solid #FED22B;
    padding-bottom: 1rem;
}

#primaryPart {
    margin: 8rem 5rem 0 5.5rem;
}

#firstName {
    color: #FECA07;   
}

#name {
    font-weight: lighter;
}

.dateAndCity {
    flex-basis: 33.33%;
}

.dateAndCity div {
    display: inline-block;
}

.dateAndCity i {
    font-size: 1rem;
    margin-right: 1rem;
    vertical-align: top;
    padding-top: 0.6rem;
}

.description {
    flex-basis: 66.66%;
}

.recommendation {
    flex-grow: 1;
}